$primary-color: #CD2B31;
$secondary-color: #08526d;
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

// Start Navbar

.navbar {
  background-color: rgb(255, 255, 255);
  z-index: 99999;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

nav .navbar-brand {
  color: $secondary-color;

  font-size: 20px;
  margin-left: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 2px;

}

nav .navbar-brand span {
  font-weight: bold;
  color: rgb(205, 43, 49) !important;
}

.navbar-light .navbar-brand {
  color: $secondary-color;
}

.navbar-light .navbar-brand:hover {
  color: $secondary-color;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  padding: 13px;
  //text-transform: lowercase;
  color: $secondary-color !important;

  margin-left: 10px;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: 'Archivo Narrow', sans-serif;
}


.navbar .navbar-nav .nav-link, .navbar .navbar-nav .nav-link:hover, navbar .navbar-nav .nav-link, .navbar .navbar-nav .nav-link.active, navbar .navbar-nav .nav-link, .navbar .navbar-nav .nav-link:focus {
  margin-left: 20px;
  color: $secondary-color;
  padding: 13px 2px;
  font-size: 17px;
  font-family: 'Archivo Narrow', sans-serif;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #000;
  color: #fff;
  z-index: 99999;
  transition: background 1s ease;
}

// End Navbar

// Start HomePage

.homepage {
  min-height: 600px;
  background-image: url(../images/homePageImage.jpg);
  background-size: 100% 100%;
  min-width: 100vh;
  padding: 160px 0px;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  .content {
    position: absolute;
    z-index: 999;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-size: 70px;
    margin: 50px 100px;
    padding: 10px;

    h1 {
      padding: 10px;
      font-family: 'Roboto Slab', serif;

      span {
        background: $primary-color;
        padding: 5px;
        margin: 10px;
      }
    }
  }

  .arrowToExtraTasty {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 400;
    z-index: 999;
  }
}

@media (max-width: 576px) {
  .homepage .content {
    margin: 50px 5px;
    padding: 10px;
  }
}


// End HomePage

// Start intro-environmental-sector
.intro-environmental-sector {
  padding-top: 60px;
  padding-bottom: 60px;

  p {
    line-height: 2;
    padding: 30px;
    font-family: 'Merriweather', serif;
    font-size: 27px;
    color: #6f6767;
  }

}

// End intro-environmental-sector


.whyDoThat {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: rgb(240, 245, 247);


  h2 {
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 50px;

  }

  p {
    line-height: 2;
    font-size: 17px;
    color: rgb(102, 102, 102);
    margin: 0px auto 15px;
    font-family: 'Merriweather', serif;
  }


}


// Start SectorsOfInterest
.SectorsOfInterest {
  padding-top: 50px;
  padding-bottom: 80px;

  h2 {
    padding-bottom: 20px;
    font-size: 60px;
    font-family: 'Lora', serif;
  }

  p {
    line-height: 2;
    font-family: 'Merriweather', serif;
    font-size: 16px;
  }

  p:before {
    font-family: "Font Awesome 5 Free";
    content: '\f054';
    font-weight: 900;
    margin-right: 5px;
    color: $primary-color;
    font-size: 14px;
    position: relative;
  }
}

// End SectorsOfInterest


.strategy {
  background-color: rgb(240, 245, 247);
  padding: 80px 0;

  h2 {
    padding-bottom: 30px;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 50px;

  }

  p {
    line-height: 2;
    font-size: 17px;
    color: rgb(102, 102, 102);
    margin: 0px auto 15px;
    font-family: 'Merriweather', serif;
  }

}


// End Strategy


// End Investment

.investment {
  background-image: url(../images/investment.jpg);
  background-size: 100% 100%;
  position: relative;
  background-repeat: no-repeat;

  .overlay {
    color: rgb(255, 255, 255);
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(2, 2, 2, 0.9);
  }

  h2 {
    font-weight: bold;
    padding-bottom: 20px;
    z-index: 999 !important;
    color: rgb(255, 255, 255) !important;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
  }

  div {
    z-index: 999;
    color: rgb(255, 255, 255);
  }

  i {
    color: rgb(230, 56, 72);
    margin-bottom: 30px;
  }

  h3 {
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;
  }

  p {
    font-family: 'Merriweather', serif;
    font-size: 20px;
  }

}


// End Investment


// Start Team Section
.team {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
  }

  img {
    width: 230px;
    height: 200px;
    border-radius: 50%;
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
  }

  a {
    margin-bottom: 20px;
  }
}

// End Team Section


// Start Contact Section
.contact {
  background: url(../images/investment.jpg) no-repeat center fixed;
  background-size: 100% 100%;
  padding-top: 20px;
  padding-bottom: 120px;

  a {
    text-decoration: none;
    color: #000;
  }

}

.contact .contact-item {
  margin-top: 100px;
  background-color: #ECECEC;
  padding: 60px 20px 90px 20px;
  margin-right: 2px;
  height: 350px;
}

.contact .contact-item i.main {
  position: absolute;
  top: 12%;
  left: 35%;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 50px;
  margin: 20px;
  padding: 15px;
}

.contact .contact-item a {
  padding-left: 15px;
  padding-top: 50px;
}

.contact .contact-item p {
  color: #000;
  font-size: 17px;
  padding-top: 5px;
  font-weight: bolder;
}

.contact .contact-item i.contact-font {
  padding: 10px;
  font-size: 25px;
  color: #000;
  border-radius: 50%;
  border: 2px solid #232323;
  margin-top: 20px;
}

.contact .contact-item h4 {
  border-bottom: 5px solid #232323;
  padding-bottom: 20px;
  font-size: 35px;
  font-family: 'Redressed', cursive;


}

.contact .contact-item b {
  padding-bottom: 10px;
  font-size: 20px;
}

.contact .contact-item span {
  display: block;
  color: #181700;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Merriweather', serif;

  a {
    text-decoration: none;
    color: #181700;
  }
}

@media (max-width: 575.98px) {
  .contact .contact-item i.main {
    top: 10%;
    left: 39%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .contact .contact-item i.main {
    top: 10%;
    left: 39%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .contact .contact-item i.main {
    top: 12%;
    left: 42%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact .contact-item i.main {
    top: 12%;
    left: 30%;
  }
}

// End Contact Section

.google-map {
  margin: -8px;
}


footer {
  background-color: $secondary-color;
  color: #fff;
  padding: 10px;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  font-size: 12px;

  .copyright {
    margin-left: 60%;

  }
}


/* ################################ Start Scroll Up ################################  */
#scroll_up {
  width: 50px;
  height: 40px;
  color: #DDD;
  background-color: #272727;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
  z-index: 9999;
  display: none;
}

#scroll_up:hover {
  background-color: #444;
}

/* ################################ Start Scroll Up ################################  */


@import "team";
@import "investments";



